* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 4000px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

  background-image: url("img/espacio.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  z-index: 1;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.slogan {
  position: fixed;
  top: 50%;
  left: 45%;
  color: white;
  font-size: 70px;
}

.satelite {
  position: relative;
  top: 100px;
  left: 10%;
  width: 200px;
  height: 150px;

  animation-name: satellite-movement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes satellite-movement {
  0% {
    top: 100px;
    left: 10%;
    transform: scale(1);
  }
  25% {
    top: 150px;
    left: 30%;
    transform: scale(1.5);
  }
  50% {
    top: 500px;
    left: 40%;
    transform: scale(2.5);
  }
  75% {
    top: 450px;
    left: 15%;
    transform: scale(1.5);
  }
  100% {
    top: 100px;
    left: 10%;
    transform: scale(1);
  }
}

.tierra {
  position: absolute;
  top: 65%;
  right: 20%;
  width: 400px;
  height: 400px;
  z-index: 1;
}

.tierra2 {
  position: absolute;
  top: 120%;
  right: 70%;
  width: 250px;
  height: 250px;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1;
}
